//Html and head declaration
doctype html
html
    head
        title= `${title}`
        //Bootstrap css
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        //Application css
        link(rel='stylesheet', href='/css/style.css')
        //Icons
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        //Script to play the comments audios
        script(src='/js/playAudio.js')
    body
        block content